body, .mdl-layout-title, .mdl-textfield__input, .mdl-button {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.urlText {
	width: 50%;
}

.mdl-layout__header-row {
	padding-left: 1em;
}

.url-form {
	min-width: 10em;
	width: 50%;
}

#channel-url {
	width: 100%;
}

a.address {
	width: 40%;
	color: rgb(26, 13, 171);
}

.onair {
	color: rgb(0, 0, 0);
}

.offair {
	color: rgb(224, 224, 224);
}

.live-icon {
	width: 3em;
	float: left;
}

.live-title {
	margin-top: 0.4em;
	text-align: left;
	width: 40%;
	min-width: 15em;
	float: left;
}
